name: deploy-client

on:
  push:
    branches:
      - main
    paths:
      - 'client/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Repository auschecken
      - uses: actions/checkout@v2

      # Docker-Image f端r den Client bauen
      - run: |
          cd client
          docker build -t mahmoodads/client .

      # Bei Docker Hub einloggen
      - run: |
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

      # Docker-Image zu Docker Hub pushen
      - run: |
          docker push mahmoodads/client:latest

      # DigitalOcean CLI f端r die Interaktion mit Kubernetes einrichten
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      # Den Kubernetes-Kontext f端r DigitalOcean setzen
      - run: |
          doctl kubernetes cluster kubeconfig save 633c9e15-59ae-4447-8c6d-9e8a83f7e6dd
          kubectl config use-context doctl-kubernetes

      # Secrets in Kubernetes mit kubectl erstellen
      - run: |
          kubectl create secret generic jwt-secret --from-literal=JWT_KEY=${{ secrets.JWT_SECRET }} --dry-run=client -o yaml | kubectl apply -f -
          kubectl create secret generic stripe-secret --from-literal=STRIPE_KEY=${{ secrets.STRIPE_KEY }} --dry-run=client -o yaml | kubectl apply -f -

      # Die Kubernetes-Deployment-Ressource f端r den Client neu starten
      - run: |
          kubectl rollout restart deployment client-depl
